body {
  font-family: "Geneva", Tahoma, Verdana, sans-serif;
  margin: 50px;
  background: #dcdcdc;
  color: #202020;
  text-align: center;
}

h1 {
  font-family: "Bungee", sans-serif;
  margin-top: 5rem;
  margin-bottom: 5rem;
  font-size: 3rem;
  font-weight: lighter;
  border-bottom: 3px solid #a4a4a4;
  padding-bottom: 1rem;
}

p {
  margin: 0.5rem 0 0.25rem;
  color: #202020;
  font-size: 1rem;
  text-align: center;
}

.logo {
  width: 200px;
  height: auto;
  margin-bottom: 0.5rem;
  object-fit: contain;
}

#voting-container {
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 1rem 0;
}

#voting-container > div {
  background: #f1f1f1;
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);

  width: 300px;
  height: 320px;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  text-align: center;
}

#voting-container > div span {
  font-weight: bold;
  font-size: 1.8rem;
  margin-top: 0.5rem;
}

.vote-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

/* Styling the vote button */
button {
  background-color: #007bff;
  border: none;
  color: #f1f1f1;
  padding: 12px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  margin-top: auto;
  width: 10rem;
}

button:hover:not(:disabled) {
  background-color: #0056b3;
}
